<?xml version="1.0" encoding="utf-8"?>

<robot name="gummi" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- <xacro:include filename="package://scott_description/urdf/scott_torso.urdf.xacro" />
<xacro:include filename="package://scott_description/urdf/scott_legs.urdf.xacro" /> -->

<xacro:include filename="scott_torso.urdf.xacro" />
<xacro:include filename="scott_legs.urdf.xacro" />


</robot>